@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* //////////////////////////////////////////////////////////////////////////////////// */
body {	
	font-family: "Baloo 2", cursive;
 	font-size: 16px;  
	color: #F8F0E1;
	text-rendering: optimizeLegibility;
	font-weight: initial;
  background-color: #001318;
}


 @keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.visible {
  animation: fadeInUp 1s ease-out forwards;
  opacity: 1; 
}
/* a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
} */

#pageHeaderTitle {
	margin: 1rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
}

/* Cards
.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #000000;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #e1e5ea;
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
} */
 /* lines Image filled */
 .line-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.line {
  position: absolute;
  top: 0;
  width: 2px;
  background-color: #ffd700;
}

.line::before {
  content: '';
  position: absolute;
  bottom: 0; /* Align the dot with the bottom of the line */
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #ffd700;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700; /* Glowing effect */
}


@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
/* styles.module.css */
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
}
  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }



/* Contact page */
.cards{
  transition: all 0.2s ease;
  cursor: pointer;
}
.cards:hover{
  box-shadow: 0 0 25px 0 rgba(133, 136, 221, 0.05);
  transform: scale(1.1);
  z-index: 1;
  
}

.btn-orange{
  margin: 20px 0;   
  background: red;
  color: #fff;
}

.btn-orange:hover{
  margin: 20px 0;
   box-shadow: 0 0 15px 1px #ccc;
  background: red;
  color: #fff;
}
 
 .dropdown-settings{   
  padding: 0px;
  margin: 0px;
  background:  color 0.3s ease-in-out;

} 

 .my-custom-button {
  font-size: 18px; 
  padding: 10px 100px; 
  border-radius: 10px; 
  display: block;
  margin: 0 auto;
} 



.about_section_body :h1
{
  font-family: 'Molle', cursive;
  color:CornflowerBlue;
}

.about_section_body:p{
  color:DimGrey;
}

.padding {padding: 80px 0;}

.about_section .about_img img
{
    max-width:100%;
	  border-radius:15px;
    box-shadow:0 16px 28px 0 rgba(8,56,103,.5);}

@media (min-width:992px)
{
    .about_section .about_img img
    {
	  width:60%;}

    .about_section .about_img_2
    {
    margin:-180px 0 0 270px;}
    
    .about_section .about_img_3
    {
    margin:-260px 0 0 40px;}
}

@media(max-width:991px)
{
    .about_section .about_img img
  {
      margin:3rem 0;}
}

.about_section .content 
{
  background-color:white;
  border-radius:35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* dashboard */

.dashboard-stylebody{
  margin-top:20px;
  background-color: #f7f7ff;
  }
  .radius-10 {
      border-radius: 10px !important;
  }
  
  .border-info {
      border-left: 5px solid  #0dcaf0 !important;
  }
  .border-danger {
      border-left: 5px solid  #fd3550 !important;
  }
  .border-success {
      border-left: 5px solid  #15ca20 !important;
  }
  .border-warning {
      border-left: 5px solid  #ffc107 !important;
  }
  
  
  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 0px solid rgba(0, 0, 0, 0);
      border-radius: .25rem;
      margin-bottom: 1.5rem;
      box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  }
  .widgets-icons-2 {
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ededed;
      font-size: 27px;
      border-radius: 10px;
  }
  .rounded-circle {
      border-radius: 50%!important;
  }
  .text-white {
      color: #fff!important;
  }
  .ms-auto {
      margin-left: auto!important;
  }
  .bg-gradient-bloody {
      background: #f54ea2;
      background: -webkit-linear-gradient( 
  45deg
   , #f54ea2, #ff7676)!important;
      background: linear-gradient( 
  45deg
   , #f54ea2, #ff7676)!important;
  }
  
  .bg-gradient-ohhappiness {
      background: #00b09b;
      background: -webkit-linear-gradient( 
  45deg
   , #00b09b, #96c93d)!important;
      background: linear-gradient( 
  45deg
   , #00b09b, #96c93d)!important;
  }
  
  .bg-gradient-blooker {
      background: #ffdf40;
      background: -webkit-linear-gradient( 
  45deg
   , #ffdf40, #ff8359)!important;
      background: linear-gradient( 
  45deg
   , #ffdf40, #ff8359)!important;
  }

  /* dashboard events list */
 

.card {
    box-shadow: 0 20px 27px 0 rgba(202, 11, 11, 0.05);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}
.avatar-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-weight: 700;
}

.avatar {
    width: 3rem;
    height: 3rem;
}
.rounded-3 {
    border-radius: 0.5rem!important;
}
.mb-2 {
    margin-bottom: 0.5rem!important;
}
.me-4 {
    margin-right: 1.5rem!important;
}


.avatar img {
  width: 100%;  
  height: 100%;  
  object-fit: cover;  
  border-radius: 13%;
  background-color: none;
}

/* about page  */
 
  .bg-picture {
    position: relative;
    min-height: 300px;
    margin: -20px -25px 0px -25px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }
 

  /* dashboard */

.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}    
/* user-dashboard-info-box */
.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.user-dashboard-info-box .candidates-list .thumb img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.user-dashboard-info-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.user-dashboard-info-box .candidates-list td {
  vertical-align: middle;
}

.user-dashboard-info-box td li {
  margin: 0 4px;
}

.user-dashboard-info-box .table thead th {
  border-bottom: none;
}

.table.manage-candidates-top th {
  border: 0;
}

.user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
  margin-bottom: 10px;
}

.table.manage-candidates-top {
  min-width: 650px;
}

.user-dashboard-info-box .candidate-list-details ul {
  color: #969696;
}

.candidate-list {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.candidate-list:hover {
  -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
  position: relative;
  z-index: 99;
}
.candidate-list:hover a.candidate-list-favourite {
  color: #e74c3c;
  -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
  box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.candidate-list .candidate-list-image {
  margin-right: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  border: none;
}
.candidate-list .candidate-list-image img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
}

.candidate-list-title {
  margin-bottom: 5px;
}

.candidate-list-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.candidate-list-details ul li {
  margin: 5px 10px 5px 0px;
  font-size: 13px;
}

.candidate-list .candidate-list-favourite-time {
  margin-left: auto;
  text-align: center;
  font-size: 13px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}
.candidate-list .candidate-list-favourite-time span {
  display: block;
  margin: 0 auto;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 1px solid #eeeeee;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-size: 16px;
  color: #646f79;
}
.candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
  background: #ffffff;
  color: #e74c3c;
}

.candidate-banner .candidate-list:hover {
  position: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  z-index: inherit;
}

.bg-white {
  background-color: #ffffff !important;
}
.p-4 {
  padding: 1.5rem!important;
}
.mb-0, .my-0 {
  margin-bottom: 0!important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.user-dashboard-info-box .candidates-list .thumb {
  margin-right: 20px;
}
.edit-btn{
  margin-top: 2px;
 
}



.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border: 2px solid #f3d250; /* Yellow border color */
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  background-color: #f3d250; /* Yellow background color */
  border: none;
  border-radius: 5px;
  color: #333; /* Dark text color */
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ffea00; /* Lighter yellow on hover */
}

.event-list {
  list-style-type: none;
  padding: 0;
}

.event-item {
  margin-bottom: 20px;
}

.event-link {
  text-decoration: none;
  color: inherit;
}

.postcard__img {
  max-width: 100%;
  height: auto;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////// */
 